:root {
  --main-background-color: #333;
  --main-font-color: #f5f5f5;
  --main-font-family: monospace;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: url('./assets//pick-cursor.png'), auto;
}

input[type="text"], textarea {
  cursor: auto;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-font-color);
  font-family: var(--main-font-family);
}