.component__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  gap: 20px;
}

.form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form__title, .form__artist, .form__content {
  width: 70vw;
  border: 2px inset black;
  border-radius: 10px;
  outline: none;
  background-color: #222;
  padding: 10px;
  color: var(--main-font-color);
}

.form__content {
  resize: none;
  min-height: 67vh;  
  
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #333;
  border-radius: 0 10px 10px 0;
}

::-webkit-scrollbar-thumb {
  background: #111;
  border-radius: 10px;
}