.search__container {
  position: absolute;
  top: 18vh;
  right: 25vw;
  display: inline;
  z-index: 100;
}

.search__plate {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px outset black;
  border-radius: 30px;
  background-color: var(--main-background-color);
  padding: 20px;
  gap: 5px;
  z-index: 999;
}

.input__container {
  position: relative;
  border-radius: 5px;
  background-color: black;
  overflow: hidden;
}

.input__closed,
.input__opened {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    130deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.1)
  );
  height: 100%;
  transition: all 0.2s ease-in-out;
  cursor: url('../../assets/pick-blue-cursor.png'), auto;
}

.input__opened {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transform: translateY(-110%);
}

.search__input {
  outline: none;
  background-color: black;
  padding: 5px 10px;
  color: var(--main-font-color);  
}

.list__container {
  position: relative;
  top: -27px;
  overflow: hidden;
}

.artists__list_hidden {
  transform: translateY(-110%);
  transition: all 0.3s ease-in-out;
}

.artists__list_shown {
  transition: all 0.3s ease-in-out;
}

.artists__item {
  list-style: none;
  border: 1px solid rgba(255,255,255,0.6);
  background: linear-gradient(136deg, rgba(255,255,255,0.1), rgba(255,255,255,0.3));
  padding: 5px 10px;
  backdrop-filter: blur(4px);
  cursor: url('../../assets/pick-blue-cursor.png'), auto;
}

.artists__item:hover {
  border: 1px solid rgba(255,255,0,0.6);
  background: linear-gradient(136deg, rgba(255,255,0,0.1), rgba(255,255,0,0.3));
  color: var(--secondary-font-color);
}

@media screen and (max-width: 1440px) {
  .search__container {
    right: 15vw;
  }
}

@media screen and (max-width: 970px) {
  .search__container {
    top: 38vh;
    left: 35vw;
    right: 35vw;
  }
}
@media screen and (max-width: 820px) {
  .search__container {
    top: 38vh;
    left: 30vw;
    right: 30vw;
  }
}
@media screen and (max-width: 620px) {
  .search__container {
    top: 38vh;
    left: 25vw;
    right: 25vw;
  }
}
@media screen and (max-width: 460px) {
  .search__container {
    top: 38vh;
    left: 20vw;
    right: 20vw;
  }
}
@media screen and (max-width: 400px) {
  .search__container {
    top: 38vh;
    left: 15vw;
    right: 15vw;
  }
}
