.details__container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details__plate {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70vw;
  min-height: 70vh;
  border: 2px outset black;
  border-radius: 20px;
  background: linear-gradient(to top, rgba(0,0,0,0.1), rgba(0,0,0,0.6));
  backdrop-filter: blur(1px);
  padding: 20px;
  margin: 20px;
}

.details__title, .details__artist, .details__content {
  cursor: auto;
}

.details__content {
  margin-top: 30px;
}