.card__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 260px;
  height: 200px;
  border-left: 2px solid rgba(255,255,255,0.3);
  border-top: 2px solid rgba(255,255,255,0.3);
  background: linear-gradient(135deg, rgba(255,255,255, 0.2), rgba(255,255,255, 0));
  backdrop-filter: blur(1.1px);
  box-shadow: 0 0 10px 5px rgba(255,255,255, 0.1);
  border-radius: 10px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

.card__container:hover {
  box-shadow: 0 0 20px 8px rgba(155, 127, 0, 0.4);
}

.card__padding {
  overflow-y: scroll;
}

.card__padding::-webkit-scrollbar {
  display: none;
}

.card__title {
  font-size: 1.4em;
  color: var(--secondary-font-color);
  cursor: inherit;
}

.card__artist {
  font-size: 0.8em;
  cursor: inherit;
}

.card__chord {
  color: var(--secondary-font-color);
}

.content__shell {
  display: flex;
  align-self: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
}

.card__content {
  margin-top: 10px;
  white-space: pre-line;
  font-size: 0.7em;
  cursor: inherit;
}