.card__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
  height: 250px;
  border-left: 2px solid rgba(255,255,255,0.3);
  border-top: 2px solid rgba(255,255,255,0.3);
  background: linear-gradient(135deg, rgba(255,255,255, 0.2), rgba(255,255,255, 0));
  backdrop-filter: blur(1.1px);
  box-shadow: 0 0 10px 5px rgba(255,255,255, 0.1);
  border-radius: 10px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

.card__container:hover {
  box-shadow: 0 0 20px 8px rgba(155,0,0,0.4);
}

.card__title {
  font-size: 1.5em;
  text-align: center;
  cursor: inherit;
}

.card__artist {
  font-size: 1.1em;
  margin-bottom: 10px;
  cursor: inherit;
}

.card__content {
  white-space: pre-line;
  cursor: inherit;
}