.details__container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.details__plate {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70vw;
  height: 87vh;
  border: 2px outset black;
  border-radius: 20px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
  backdrop-filter: blur(1px);
  padding: 20px;
  margin: 10px;
}

.details__title {
  text-shadow: 3px 3px #a6933f;
}

.details__title,
.details__artist,
.details__content {
  cursor: auto;
}

.details__content {
  margin-top: 30px;
  white-space: pre-line;
  font-size: 1.2em;
  cursor: text;
}

.content__chord {
  color: rgb(243, 199, 4);
  cursor: url('../../assets/pick-blue-cursor.png'), auto;
}

@media screen and (max-width: 412px) {
  .details__container {
    align-items: flex-start;
    overflow-x: hidden;
  }
  .details__plate {
    padding: inherit 0;
    margin: 0;
    width: 50vw;
  }
  .details__title {
    font-size: 6.5vw;
  }
  .details__artist {
    font-size: 5vw;
  }
  .details__content {
    font-size: 3vw;
  }
}

@media screen and (max-width: 590px) {
  .details__container {
    padding: 0;
  }
  .details__plate {
    width: 410px;
  }  
}

@media screen and (max-width: 1046px) {
  .details__plate {
    overflow-y: scroll;
  }

  .details__plate::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (min-width: 1046px) {
  .details__content {
    height: 90%;
    column-count: 2;
    column-fill: auto;
  }
}

@media screen and (min-width: 1496px) {
  .details__content {
    height: 90%;
    column-count: 3;
    column-fill: auto;
  }
}
