.details__container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  padding: 10px 0;
}

.details__homebutton, .details__editbutton {
  margin: auto;
}

.details__plate {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 90vw;
  min-height: 87vh;
  border: 2px outset black;
  border-radius: 20px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
  backdrop-filter: blur(1px);
  padding: 20px;
  margin: auto;
}

.details__delete {
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  background-color: black;
  border: none;
}

.delete__icon {
  width: 15px;
  height: 15px;
  color: red;
}

.delete__icon:hover {
  color: white;
}

.delete__background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 20px;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(1.5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.delete__panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  border: 2px outset rgba(255,255,255,0.2);
  background-color: rgba(55,55,55,0.3);
  padding: 10px;
}

.delete__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.delete__confirm, .delete__reject {
  border-radius: 5px;
  width: 30px;
  color: white;
}

.delete__confirm {
  background-color: green;
}

.delete__reject {
  background-color: red;
}

.details__title {
  color: var(--secondary-font-color);
}

.details__title,
.details__artist,
.details__content {
  cursor: auto;
}

.details__content {
  margin-top: 30px;
  white-space: pre-line;
  font-size: 1.2em;
  cursor: text;
}

@media screen and (max-width: 412px) {
  .details__container {
    overflow-x: hidden;
  }
  .details__plate {
    padding: inherit 0;
    margin: 0;
    width: 50vw;
  }

  .delete__panel {
    transform: translateX(-10vw);
  }

  .details__title {
    font-size: 6.5vw;
  }
  .details__artist {
    font-size: 5vw;
  }
  .details__content {
    font-size: 3vw;
  }
}

@media screen and (max-width: 590px) {
  .details__plate {
    width: 410px;
  }  
}

@media screen and (max-width: 1046px) {
  .details__plate {
    overflow-y: scroll;
  }

  .details__plate::-webkit-scrollbar {
    display: none;
  }

  .delete__confirm, .delete__reject {
    width: 22px;
    font-size: 10px;
  }
}

@media screen and (min-width: 1046px) {
  .details__content {
    column-count: 2;
  }
}

@media screen and (min-width: 1500px) {
  .details__content {
    height: 75vh;
    column-count: 3;
    column-fill: auto;
  }
}
